
@{
    ViewBag.Title = "Index";
}

<style>
    .messageContainer {
        margin-bottom: 10px;
    }

    .user, .time {
        font-style: italic;
        color: blue;
        font-size: large;
    }

    .time {
        margin-right: 5px;
    }

    .user {
        margin-right: 10px;
    }

    .messageText {
        font-size: large;
    }

    .Scream {
        text-decoration: underline;
        color: orangered;
        font-style: italic;
        font-size: larger;
    }

    textarea {
        max-width: none;
        resize: vertical;
    }

    .rightSeparator, #display {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .rightSeparator {
        border-right: 1px solid rgba(85, 85, 85, 0.4) !important;
        padding-right: 20px;
    }
</style>

<h2>Web Chat</h2>
<br />
<div class="row">
    <div class="col-md-4 rightSeparator">
        <div id="messageInputsContainer">
            <textarea id="messageText" class="form-control" placeholder="message" rows="4" autofocus></textarea>
            <br />
            <input type="button" value="Send Talk" class="btn btn-primary pull-right" id="sendTalk" style="margin:10px" />
            <input type="button" value="Scream!" class="btn btn-primary pull-right" id="sendScream" style="margin:10px" />
        </div>
    </div>
    <div class="col-md-8">
        <div id="display"></div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">

        var display = $("#display");
        var messageText = $("#messageText");

        $.connection.hub.start();
        var chatHubProxy = $.connection.chatHub;
        chatHubProxy.client.talk = function (talkevent) {
            getMessage("Talk", talkevent.User, talkevent.Id);
        };
        chatHubProxy.client.scream = function (screamEvent) {
            getMessage("Scream", screamEvent.User, screamEvent.Id);
        };

        var sendTalkButton = $("#sendTalk");

        sendTalkButton.click(function () {
            var talk = {
                Text: messageText.val()
            };
            messageText.val("");
            sendMessage(talk, "Talk");
            messageText.focus();
        });

        var sendScreamButton = $("#sendScream");

        sendScreamButton.click(function () {
            var scream = {
                Text: messageText.val()
            };
            messageText.val("");
            sendMessage(scream, "Scream");
            messageText.focus();
        });

        function sendMessage(message, action) {
            $.ajax({
                url: "/Chat/" + action,
                type: "POST",
                data: message,
                success: function (data) {},
                error: function (xhr) {
                    console.log("errore: " + xhr);
                }
            });
        }

        function getMessage(action, user, id) {
            $.ajax({
                url: "/api/ChatApi/" + action + "/" + user + "/" + id,
                type: "GET",
                success: function (data) {
                    showMessage(data, action);
                },
                error: function (xhr) {
                    console.log("errore: " + xhr);
                }
            });
        }

        function showMessage(talk, messageTextClass) {
            var userContainer = $("<span class='user'>" + talk.User + ":</span>");
            var textContainer = $("<span class='messageText " + messageTextClass + "'>" + talk.Text + "</span>");
            var timeContainer = $("<span class='time'>[" + talk.Time + "]</span>");

            var messageContainer = $("<div class='messageContainer'></div>");
            messageContainer.append(timeContainer).append(userContainer).append(textContainer);

            messageContainer.hide();
            display.prepend(messageContainer);
            messageContainer.show(400);
        }

    </script>
}
